<md-card>
  <md-content layout-padding="">
    <form name="$editUser.$state.editUserForm">
      <div layout-gt-sm="column">
        <md-input-container class="md-block" flex-gt-sm="">
          <label>Username</label>
        </md-input-container>
          <div flex="5" hide-xs="" hide-sm="">
            <!-- Spacer //-->
          </div>
        <md-input-container class="md-block" flex-gt-sm="">
          <label>Password</label>
          <input name="password" ng-model="$editUser.$state.user.password" type="password">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm="">
          <label>FirstName</label>
            <input name="firstName" ng-model="$editUser.$state.user.firstName">
        </md-input-container>
          <div flex="5" hide-xs="" hide-sm="">
            <!-- Spacer //-->
          </div>
        <md-input-container class="md-block" flex-gt-sm="">
          <label>LastName</label>
          <input name="lastName" ng-model="$editUser.$state.user.lastName">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm="">
          <label>Email</label>
            <input name="email" ng-model="$editUser.$state.user.email">
        </md-input-container>
          <div flex="5" hide-xs="" hide-sm="">
            <!-- Spacer //-->
          </div>
        <md-input-container class="md-block" flex-gt-sm="">
          <label>PhoneNumber</label>
          <input name="phoneNumber" ng-model="$editUser.$state.user.phoneNumber">
        </md-input-container>
        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
          <md-button ui-sref="^" class="md-raised" ng-click="$editUser.$state.editUser()">Save</md-button>
          <md-button ui-sref="^" class="md-raised" ng-click="$editUser.$state.clear()">Close</md-button>
          <md-button ui-sref="home.login" class="md-raised md-warn" ng-click="$editUser.$state.deleteAccount()">Delete Account</md-button>
          <md-button class="md-raised" ng-click="$editUser.$state.populateProfileInfo()">Profile</md-button>
        </section>
      </div>
      <style>
        body[dir=rtl] .hint {
          right: 2px;
          left: auto;
        }
      </style>
    </form>
  </md-content>
</md-card>
