<div layout="column" style="height: 100%">
    <div ng-cloak="" class="toolbardemoBasicUsage">
        <md-content>
            <md-toolbar class="md-hue-2">
                <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                    <h2>
                        <md-button>
                          <md-icon md-svg-icon="/static/imgs/icons/home.svg" ui-sref="home"></md-icon>
                        </md-button>
                        <md-button>
                          <md-icon md-svg-icon="/static/imgs/icons/game.svg" ui-sref="game({new: true})"></md-icon>
                        </md-button>
                    </h2>
                    <md-content class="md-hue-2" flex="50">
                        <md-autocomplete
                                ng-disabled="$app.isDisabled"
                                md-no-cache="$app.noCache"
                                md-selected-item="$app.selectedItem"
                                md-search-text-change="$app.searchTextChange($app.searchText)"
                                md-search-text="$app.searchText"
                                md-selected-item-change="$app.selectedItemChange(item)"
                                md-items="item in $app.querySearch($app.searchText)"
                                md-item-text="item.display"
                                md-min-length="3"
                                placeholder="What would you like to search for?">
                            <md-item-template>
                                <span md-highlight-text="$app.searchText"
                                      md-highlight-flags="^i">{{item.display}}</span>
                            </md-item-template>
                            <md-not-found>
                                No items matching "{{$app.searchText}}" were found.
                            </md-not-found>
                        </md-autocomplete>
                    </md-content>
                    <div class="endButtons">
                        <md-button class="md-icon-button" aria-label="Person" ng-click="$app.openProfile()">
                            <md-icon md-svg-icon="/static/imgs/icons/person_black.svg"
                                     style="color: greenyellow;"></md-icon>
                        </md-button>
                        <md-menu>
                            <md-button class="md-icon-button" aria-label="More" class="md-icon-button"
                                       ng-click="$app.openMenu($mdOpenMenu, $event)">
                                <md-icon md-menu-origin md-svg-icon="/static/imgs/icons/more_vert.svg"></md-icon>
                            </md-button>
                            <md-menu-content width="4">
                                <md-menu-item>
                                    <md-button ui-sref="editUser">
                                        <md-icon md-svg-src="/static/imgs/icons/edit.svg"
                                                 md-menu-align-target></md-icon>
                                        Edit Profile
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="$app.$login.isLoggedIn = false" ui-sref = 'login'>
                                        <md-icon md-svg-icon="/static/imgs/icons/log_out.svg"></md-icon>
                                        Logout
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </div>
                </div>
            </md-toolbar>
        </md-content>
    </div>
    <ui-view class="full-width" style="height: 100%"></ui-view>
</div>
