<div class="tweets-pane" ng-repeat="tweet in $tweet.$state.tweets">
  <div ng-cloak="" class="carddemoBasicUsage" ng-hide="(tweet.flagDeleted) ? true : (tweet.replyto) ? true : false">
    <md-content layout-align="center none" class="md-padding" layout-xs="column" layout="row">
      <div flex-xs="" flex-gt-xs="60" layout="column">
        <md-card>
          <md-card-header>
            <md-card-avatar>
              <img class="md-user-avatar" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/53474/atom_profile_01.jpg"/>
            </md-card-avatar>
            <md-card-header-text>
              <a class="md-tweet-title" href="/user/{{tweet.author.username}}">@{{ tweet.author.username }}</a>
            </md-card-header-text>
            <md-button class="md-icon-button" aria-label="More">
              <md-icon md-svg-icon="/static/imgs/icons/more_vert.svg"></md-icon>
            </md-button>
          </md-card-header>
          <md-card-content>
            <p ng-bind-html="tweet.repostContent"></p>
            <p ng-bind-html="tweet.content"></p>
          </md-card-content>
          <md-card-actions layout="row" layout-align="space-around center" ng-hide="tweet.reply">
            <md-button class="md-icon-button md-accent" aria-label="Reply" ng-click="tweet.reply = true; $tweet.$state.getReplies(tweet)">
              <md-icon style="fill: #64B5F6;" md-svg-icon="/static/imgs/icons/reply.svg" style="color:red;font:bold"></md-icon>
            </md-button>
            <md-button class="md-icon-button md-accent" aria-label="Repeat" ng-click="$tweet.$state.respondToTweet(tweet.id,'repost')">
              <md-icon style="fill: #00E676;" md-svg-icon="/static/imgs/icons/repeat.svg"></md-icon>
            </md-button>
              <md-button class="md-icon-button md-accent" aria-label="Favorite" ng-click="$tweet.$state.likeTweet(tweet.id)">
                  <md-icon style="fill: #EF5350;" md-svg-icon="/static/imgs/icons/favorite.svg"></md-icon>
              </md-button>
              <md-button class="md-icon-button" ng-show="$tweet.$state.isAuthor(tweet.author.username)" aria-label="More" ng-click="$tweet.$state.deleteTweet(tweet.id)">
                  <md-icon style="fill: #64B5F6;" md-svg-icon="/static/imgs/icons/delete.svg"></md-icon>
              </md-button>
          </md-card-actions>
          <div ng-show="tweet.reply">
            <div ng-repeat="reply in tweet.replies" layout="column">
              <p>
                {{ reply.content }} - {{ reply.author.username }}
              </p>
            </div>
            <form name="replyForm">
              <div layout-gt-sm="row" layout-align="center none">
                <md-input-container class="md-block" flex-gt-sm="">
                  <label>Reply</label>
                    <input name="reply" ng-model="tweet.replyMessage">
                </md-input-container>
                  <div flex="5" hide-xs="" hide-sm="">
                    <!-- Spacer //-->
                  </div>
                <md-button class="md-icon-button md-accent" aria-label="Reply" ng-click="$tweet.$state.replyToTweet(tweet)" ng-show="tweet.reply = !tweet.reply">
                  <md-icon style="fill: #64B5F6;" md-svg-icon="/static/imgs/icons/reply.svg" style="color:red;font:bold"></md-icon>
                </md-button>
              </div>
              <style>
                body[dir=rtl] .hint {
                  right: 2px;
                  left: auto;
                }
              </style>
            </form>
          </div>
        </md-card>
      </div>
    </md-content>
  </div>
</div>
