<!-- <div ng-show="$home.$state.$login.username"> -->
<div layout="row" layout-wrap layout-align="center none">
  <div flex-gt-xs="60" flex-xs="100" layout-align="center none">
    <md-card layout-align="center none">
      <md-card-content class="newTweetCard" flex-xs="" layout="column">
        <md-input-container layout-fill>
          <label>What would you like to tweet?</label>
            <textarea ng-model="$home.$state.tweetContent" md-maxlength="150" rows="2" md-select-on-focus layout-fill></textarea>
        </md-input-container>
      </md-card-content>
      <md-card-actions>
        <md-button ng-click="$home.$state.newTweet()">Tweet</md-button>
      </md-card-actions>
    </md-card>
  </div>
</div>
<tweet></tweet>
